.pdf_head_sogan{
    text-align: right;
    font-size: 10px;
}
.pdf_head_title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.pdf_head_date{
    text-align: center;
    font-size: 11px;
}
td,th{
    padding: 3px;
}
th{
  border-bottom: 1px solid #000;  
}
tfoot tr td{
    font-weight: bold;
    border-top: 1px solid #000;
}
table tr td{
    border-bottom: 1px solid #dad1d1;
}